<div class="display-flex column-flex">
    <app-dashboard-header [title]="title"></app-dashboard-header>
    <div class="menu-wrapper display-flex row-flex tile">
        <div *ngFor="let items of menu">
            <mat-card class="menu-card">
                <img mat-card-image src="http://localhost:3000/upload/{{items.image ? items.image : recipe.jpg}}"
                    alt={{items.image}}>
                <mat-card-content>
                    <div class="item-name">{{ items.english_name }}</div>
                    <div *ngIf="items?.status === 'inactive'" class="status-div color-white content-bg-color">Inactive
                    </div>
                    <div *ngIf="items?.status === 'active'" class="status-div color-white active">Active</div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button (click)="onRemoveMenu(items._id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="editbutton" (click)="onEditMenu(items)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>