/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
.btn:focus {
  outline: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.display-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-flex-end {
  justify-content: flex-end;
}
.justify-space-around {
  justify-content: space-around;
}
.row-flex {
  flex-direction: row;
}
.column-flex {
  flex-direction: column;
}
.align-item-center {
  align-items: center;
}
.align-item-flex-start {
  align-self: flex-start;
}
.content-bg-color {
  background-color: #ff6877;
}
.content-color {
  color: #ff6877;
}
.content-sh-color {
  background-color: antiquewhite;
}
.color-white {
  color: white;
}

.c-input .c-indicator {
  border: none !important;
  outline: none !important;
}

*,
::after,
::before {
  box-sizing: content-box;
}

button {
  outline: none;
}

.auto-flex {
  flex: auto;
}
