.leftbar,
.rightbar {
  padding: 0 16px;
}

.leftbar {
  width: 80%;
  .leftbar-text {
    font-size: 20px;
    color: #ff6877;
    margin-left: 10px;
  }
}

.rightbar {
  button {
    height: 44px;
    background-color: #ff6877;
    color: white;
    font-size: 15px;
  }
  .mat-flat-button {
    border-radius: 22px;
  }
  mat-icon {
    transform: translate(-26%, -10%);
  }
}

.menu-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
