<div class="width-550">
    <div>
        <h2 class="content-color" mat-dialog-title>Add Menu</h2>
        <mat-divider></mat-divider>
    </div>
    <div class="wrapper display-flex justify-space-around align-item-center">
        <div>
            <div [formGroup]="menuFormControl">
                <mat-form-field appearance="standard">
                    <mat-label>Menu</mat-label>
                    <input matInput id="menuName" formControlName="menuName">
                    <!-- <mat-error
                        *ngIf="menuFormControl.controls.menuName.touched && menuFormControl.controls.menuName.errors.required">
                        Menu Name is required
                    </mat-error> -->
                </mat-form-field>
                <br><br>
                <section class="example-section">
                    Status :<mat-slide-toggle class="example-margin" [color]="color" [checked]="checked"
                        formControlName="status">
                    </mat-slide-toggle>
                </section>
            </div>
        </div>
        <div class="right-section align-item-center display-flex">
            <div class="upload-img justify-center" *ngIf="this.menuFormControl.value.fileUpload.name">
                <img class="recipe-img"
                    src="../../../../../assets/images/{{this.menuFormControl.value.fileUpload.name}}">
            </div>
            <div class="upload-img align-item-center justify-center display-flex add_a_photo"
                *ngIf="!this.menuFormControl.value.fileUpload.name">
                <img src="../../../../../assets/images/add_a_photo.png">
            </div>
            <button mat-button class="upload-btn">
                <label class="custom-file-upload">
                    <mat-icon>publish</mat-icon>
                    <input type="file" (change)="onFileChange($event)" accept=".png, .jpg, .jpeg" />
                    Upload Image
                </label>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
        <button class="content-bg-color color-white" mat-flat-button mat-dialog-close>Cancel</button>
        <button class="content-bg-color color-white" mat-flat-button [mat-dialog-close]="true"
            (click)="onSaveMenu()">Save</button>
    </mat-dialog-actions>
</div>